:root {
  --firm-site-color: #f5dec9;
  --primary-white-color: #ffffff;
  --primary-text-color: #394556;
  --accent-color: #FFE512;
}

body {
  font-family: "Comfortaa", cursive;
  color: var(--primary-text-color);
  background-color: var(--firm-site-color);
  line-height: 1.5;
  font-size: 20px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

br {
  margin: 0;
  padding: 0;
}

.section {
  padding: 50px 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

.soc-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-icon {
  background-color: var(--primary-text-color);
  width: 40px;
  height: 40px;
  fill: var(--firm-site-color);
}
.site-icon:hover {
  background-color: var(--accent-color);
  fill: var(--primary-text-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-text-color);
  border-radius: 50%;
}

.soc-icon svg {
  width: 25px;
  height: 25px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--primary-white-color);
  padding: 12px 24px;
  border-radius: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.btn:hover {
  background-color: var(--accent-color);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item:hover {
  color: var(--accent-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu__item {
    margin-bottom: 20px;
  }
  .soc-icon li:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
  }
  .site-nav li:not(:last-child) {
    margin-right: 20px;
  }
  .soc-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .soc-icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .soc-icon li {
    margin-right: 20px;
  }
  .soc-icon a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
  }
  .soc-icon svg {
    width: 20px;
  }
}
.page-header {
  position: relative;
  background-color: var(--firm-site-color);
  z-index: 3;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.page-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu {
  background-color: var(--firm-site-color);
  text-align: center;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    font-size: 24px;
  }
  .menu.is-open {
    display: block;
  }
  .menu .soc-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-hero {
  padding-top: 0;
  background-color: var(--primary-white-color);
  background-image: url(../images/01-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background-position: -200px 20px;
}
.section-hero .hero_title {
  background-color: var(--primary-white-color);
  padding: 20px 10px 10px 10px;
}
.section-hero img {
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .section-hero {
    background-position: -150px;
  }
  .section-hero .hero_title {
    margin-left: auto;
    background-color: transparent;
    text-align: end;
  }
  .section-hero img {
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-position: center;
    height: 100%;
  }
  .section-hero .hero_title {
    margin-left: auto;
    font-size: 24px;
    text-align: end;
  }
  .section-hero img {
    height: 400px;
  }
}

@media screen and (min-width: 1140px) {
  .section-hero .container {
    width: 768px;
  }
}
.dis-con h2 {
  margin-bottom: 20px;
}

.dis-items {
  background-color: var(--primary-white-color);
  padding: 20px;
  text-align: start;
  border-radius: 20px;
  margin-bottom: 30px;
}

.dis-item {
  color: var(--accent-color);
  font-size: 20px;
  z-index: 2;
}

.dis-item::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "";
  text-align: center;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  margin-right: 10px;
  border-radius: 50%;
}

.dis-text {
  font-size: 20px;
  margin-bottom: 15px;
}

.dis-des {
  font-size: 12px;
}

.dis-con img {
  display: none;
}

@media screen and (min-width: 768px) {
  .dis-con {
    position: relative;
  }
  .dis-con img {
    display: block;
    position: absolute;
    bottom: -60px;
    right: -25px;
    width: 450px;
    z-index: -1;
  }
  .dis-img {
    -webkit-box-shadow: inset 0 20px 25px -5px var(--firm-site-color);
            box-shadow: inset 0 20px 25px -5px var(--firm-site-color);
  }
  .dis-text {
    max-width: 450px;
    font-size: 20px;
    text-align: start;
  }
  .dis-des {
    font-size: 12px;
    text-align: start;
    max-width: 450px;
  }
}
@media screen and (min-width: 1140px) {
  .section-disease .container {
    width: 768px;
  }
}
.adv-con_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/03-background.webp);
  background-size: 100vw;
  height: 500px;
  margin: auto;
  background-attachment: fixed;
  -webkit-box-shadow: inset 0 20px 25px -5px var(--firm-site-color), inset 0 -20px 25px -5px var(--firm-site-color);
          box-shadow: inset 0 20px 25px -5px var(--firm-site-color), inset 0 -20px 25px -5px var(--firm-site-color);
}

.adv-text {
  max-width: 768px;
  background-color: var(--primary-white-color);
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.adv-des {
  max-width: 768px;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 20px;
}

.adv-btn {
  margin-bottom: 20px;
}

.adv-item {
  background-color: var(--primary-white-color);
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.adv-con_02 {
  margin-top: 100px;
}

.adv-con_03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  height: 350px;
  padding: 15px;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, var(--firm-site-color)), to(#9BB5EA));
  background: linear-gradient(to right, var(--firm-site-color) 30%, #9BB5EA);
  -webkit-box-shadow: inset 0 37px 25px -5px var(--firm-site-color), inset 0 -31px 22px -5px var(--firm-site-color);
          box-shadow: inset 0 37px 25px -5px var(--firm-site-color), inset 0 -31px 22px -5px var(--firm-site-color);
}
.adv-con_03 span {
  font-size: 6rem;
  font-weight: 300;
}
.adv-con_03 p {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.adv-con_03 svg {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

@media screen and (min-width: 768px) {
  .adv-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .adv-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 350px;
    height: 200px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1140px) {
  .section-advantaches {
    padding-bottom: 0;
  }
  .adv-con_02 {
    position: relative;
    background-image: url(../images/akvalan_tubik.webp), url(../images/mazok.webp);
    background-position: center 0, center 120px;
    background-size: 250px, 300px;
    background-repeat: no-repeat;
  }
  .adv-con_02 img {
    position: absolute;
    bottom: 0%;
  }
  .adv-items {
    height: 750px;
    width: 1110px;
    position: relative;
    font-size: 16px;
  }
  .adv-item {
    position: absolute;
    width: 300px;
    height: auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .adv-item:nth-child(1) {
    left: 8%;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .adv-item:nth-child(2) {
    right: 8%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .adv-item:nth-child(3) {
    left: 8%;
    top: 25%;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  .adv-item:nth-child(4) {
    right: 8%;
    top: 20%;
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  .adv-item:nth-child(5) {
    left: 8%;
    top: 45%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .adv-item:nth-child(6) {
    right: 8%;
    top: 40%;
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  .adv-item:nth-child(7) {
    left: 8%;
    top: 65%;
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  .adv-item:nth-child(8) {
    top: 60%;
    right: 8%;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .adv-item:hover {
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.search-title {
  position: relative;
  margin-bottom: 20px;
}
.search-title__img {
  display: none;
}

.search-text {
  margin-bottom: 20px;
}

.search-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-set__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 5px;
  width: 250px;
  height: 60px;
}
.search-set__item:hover {
  background-color: var(--accent-color);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-set__item:not(:last-child) {
  margin-bottom: 20px;
}

.search-set__item--02 {
  background-color: #94140a;
}

.search-set__item--03,
.search-set__item--04 {
  background-color: #48a128;
}

@media screen and (min-width: 768px) {
  .search-title__img {
    height: 325px;
    display: block;
    position: absolute;
    top: -620%;
    left: 65%;
    overflow: hidden;
  }
  .search {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .search-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search-set__item {
    margin-right: 20px;
  }
  .search-set__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1140px) {
  .search-set__item {
    margin-right: 20px;
  }
  .search-set__item:nth-child(n) {
    margin-right: 20px;
  }
  .search-title__img {
    height: 400px;
    display: block;
    position: absolute;
    top: -780%;
    left: 60%;
    overflow: hidden;
  }
}
.info-con svg {
  margin-bottom: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-con svg:hover {
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
}

.info-text {
  margin-bottom: 20px;
}

.info-item {
  font-style: normal;
}
.info-item:hover {
  color: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--primary-text-color);
  padding: 0;
}

.footer-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  fill: var(--primary-white-color);
  width: 200px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover {
  fill: var(--accent-color);
}

.footer__text {
  color: var(--primary-white-color);
}

.footer-site-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-site-soc__icon > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-site-soc__icon:not(:first-child) {
  margin-left: 30px;
}

.footer-btn-icon {
  width: 35px;
  height: 35px;
  fill: var(--primary-text-color);
}

.footer-site-soc__icon > a:hover {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo {
    width: 150px;
  }
  .footer-site-soc__icon > a {
    width: 40px;
    height: 40px;
  }
  .footer-btn-icon {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 767px) {
  .footer-con {
    display: block;
    padding-bottom: 30px;
  }
  .footer-logo {
    display: block;
    width: 150px;
    height: 100px;
    margin: 0 auto;
  }
  .footer__text {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-site-soc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.btn-up svg {
  stroke: var(--firm-site-color);
  fill: var(--primary-text-color);
}

.btn-up {
  position: fixed;
  left: 20px;
  bottom: 30px;
  background-color: var(--primary-text-color);
  border-radius: 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.15s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.15s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #fff;
  width: 50px;
  height: 50px;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.btn-up-icon {
  width: 40px;
  height: 40px;
  fill: currentcolor;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    -webkit-transform: scale(1.1, 1.1) translateY(-3px);
            transform: scale(1.1, 1.1) translateY(-3px);
  }
}/*# sourceMappingURL=main.css.map */