.section-advantaches{
    background-image: url(../images/03-background.webp);
    background-size: 100vw;
    background-attachment: fixed;
}

.adv-text{
    background-color: var(--primary-white-color);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.adv-des{
    font-weight: 500;
    margin-bottom: 20px;
}
.adv-btn{
    margin-bottom: 20px;
}



.adv-item{
    background-color: var(--primary-white-color);
    border-radius: 20px;
    padding: 20px;

    margin: auto;
    margin-bottom: 20px;
}

.adv-con_02{
    margin-bottom: 50px;
    margin-top: 100px;
}
.adv-con_03{
    display: flex;
    justify-content: center;
    & span{
        font-size: 6rem;
        font-weight: 900;
    }
    & p{
        font-size: 30px;
        font-weight: 500;
    }
}

@media screen and (min-width: 768px){
    .adv-items{
            flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
            display: flex;

    }

        .adv-item{
            display: flex;
            width: 350px;
            height: 200px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
}

@media screen and (min-width: 1140px) {
    .adv-con_02{
        background-image:url(/images/akvalan_tubik.webp), url(/images/mazok.webp);
        background-position: center 50px, center 200px;
        background-size: 300px, 400px;
        background-repeat: no-repeat;
    }

    .adv-items {
        height: 90vh;
        width: 1110px;
        position: relative;
    }

    .adv-item {
        position: absolute;
        width: 350px;
        height: auto;

        &:nth-child(1) {

        }

        &:nth-child(2) {
            right: 0;
        }

        &:nth-child(3) {
            top: 20%;
        }

        &:nth-child(4) {
            right: 0;
            top: 20%;
        }

        &:nth-child(5) {
            top: 40%;
        }

        &:nth-child(6) {
            right: 0;
            top: 40%;
        }

        &:nth-child(7) {
            top: 60%;
        }

        &:nth-child(8) {
            top: 60%;
            right: 0;
        }
    }
}