.dis-con h2{
    margin-bottom: 20px;
}

.dis-items{
    background-color: var(--primary-white-color);
    padding: 20px;
    text-align: start;
    border-radius: 20px;
    margin-bottom: 30px;
}

.dis-item{
// position: relative;
// display: flex;
color: var(--primary-text-color);
font-size: 20px;
z-index: 2;
}
.dis-item::before{
    display: inline-flex;
    
    // position: absolute;
    content: '';
    text-align: center;
    width: 10px;
    height: 10px;
    background-color: var(--primary-text-color);
    margin-right: 10px;
    border-radius: 50%;
}

.dis-text{
    font-size: 20px;
    margin-bottom: 15px;
}
.dis-des{
    font-size: 12px;


}

.dis-con img{
    display: none;
}




@media screen and (min-width: 768px){
.dis-con {
    
    position: relative;
    & img {
        display: block;
    position: absolute;
        bottom: -60px;
        right: 0px;
        width: 450px;
        z-index: -1;

    }
        // background-image: url(../images/02-background.webp);
        // background-size: 370px;
        // background-repeat: no-repeat;
        // background-position: bottom 10% right 10%;
        // ;
    }
    .dis-img{
        box-shadow: inset 0 20px 25px -5px var(--firm-site-color);
            // outline: 2px solid black;
    }

        .dis-text {
            max-width: 450px;
            font-size: 20px;
            text-align: start;
        }
    
        .dis-des {
            font-size: 12px;
            text-align: start;
            max-width: 450px;
        }
}

@media screen and (min-width: 1140px){
.section-disease .container{
    width: 768px;
}
//     .dis-item {
//             font-size: 24px;
//         }
// .dis-con {
//     height: 500px;
//         background-image: url(../images/02-background.webp);
//         background-size: 470px;
//         background-repeat: no-repeat;
//         background-position: bottom right;
//         ;
//     }

//     .dis-text {
//         max-width: 600px;
//         font-size: 24px;
//     }

//     .dis-des {
//         font-size: 14px;
//         max-width: 600px;
//     }
}