.search{
}

.search-title{
    position: relative;
    margin-bottom: 20px;
    &__img{
        display: none;
    }
}

.search-text{
    margin-bottom: 20px;
}

.search-set{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-set__item{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    height: 60px;

    margin-bottom: 20px;
        &:hover {
                // background-color: var(--accent-color);
                outline: 2px solid var(--accent-color);
                transform: scale(1.02);
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
}

// .search-set__item:not(:last-child){
//     margin-bottom: 20px;
// }

.search-set__item--02 {
    background-color: #94140a;
}

.search-set__item--03,
.search-set__item--04 {
    background-color: #48a128;
}


@media screen and (min-width: 768px){

.search-title__img{
    height: 325px;
        display: block;
        position: absolute;
        top: -620%;
        left: 75%;
        overflow: hidden;

}


    .search {
        height: 400px;
            display: flex;
                align-items: flex-end;
    }

    .search-set {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

        }
        .search-set__item{
            margin-right: 20px;
        }
        .search-set__item:nth-child(2n){
            margin-right: 0;
        }
}

@media screen and (min-width: 1140px){
        .search-set__item {
                margin-right: 20px;
            }
            .search-set__item:nth-child(n) {
            margin-right: 20px;
            }
                        .search-title__img {
                            height: 400px;
                            display: block;
                            position: absolute;
                            top: -820%;
                            left: 65%;
                            overflow: hidden;
            
                        }
}