
body{
    font-family: 'Comfortaa', cursive;
    color: var(--primary-text-color);
    background-color: var(--firm-site-color);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
    margin: 0;
    padding: 0;
}

img {
    display: block;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: inherit;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

br{
    margin: 0;
    padding: 0;
}