:root{
    // --firm-site-color: #EDD2B8;
    --firm-site-color: #f5dec9;
    
    --primary-white-color: #ffffff;
    --primary-text-color: #394556;
    --accent-color: #FFE512;
    // --accent-color: #9BB5EA;

}
